header {
  position: sticky;
  top: 0;
  z-index: 998;
  .active-company {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position: relative;

    img{
      position: absolute;
      right: 12px;
    }
    .custom-select{
      font-family: "IBM Plex Serif";
      min-width: unset;
      background: transparent;
      color: rgb(236 236 236 / 68%);
      outline: none;
      cursor: pointer;
      font-size: 14px;
      text-align: center;
      appearance: none;
      position: relative;
      text-transform: capitalize;
      width: 124px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 6px 32px 7px 12px;
      border: 1px solid rgba(255, 255, 255, 0.368627451);
      border-radius: 3px;
      &:hover{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-color: transparent;
        + .custom-select-tooltip{
          visibility: visible;
         }
      }
    }
    .custom-select-tooltip{
      color: var(--primary-color);
      background: rgb(255 255 255);
      font-size: 10px;
      text-transform: uppercase;
      padding: 1px 4px;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      text-align: center;
      visibility: hidden;
      border: 1px solid rgba(255, 255, 255, 0.368627451);
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      margin-top: -1px;
    }
  }
  .total-jobs {
    background: var(--primary-color);
    color: white;
    padding: 20px;
    box-shadow: 0 2px 2.5px 0 rgb(94 94 94 / 30%);
    .header-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button-outline {
        color: rgb(236 236 236 / 68%);
        font-family: "IBM Plex Serif";
        text-decoration: none;
        border: 1px solid rgba(255, 255, 255, 0.368627451);
        padding: 6px 10px 6px 8px;
        border-radius: 3px;
        min-width: 58px;
        display: table;
        font-size: 14px;
      }
      h1 {
        font-size: 38px;
        font-family: "IBM Plex Serif";
        text-align: center;
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    .active-company {
      font-size: 14px;
      gap: 4px;
      img {
        width: 16px;
      }
    }
    .total-jobs {
      padding: 20px 0;
      .header-bar {
        .button-outline {
          font-size: 14px;
        }
        h1 {
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }
}