header {
  position: sticky;
  top: 0;
  z-index: 998;
  .active-company {
    display: flex;
    align-items: center;
    gap: 6px;
    text-transform: capitalize;
    a{
      text-decoration: none;
      color: inherit;
      &:hover{
        text-decoration: underline;
      }
    }
  }
  .total-jobs {
    background: var(--primary-color);
    color: white;
    padding: 20px;
    box-shadow: 0 2px 2.5px 0 rgb(94 94 94 / 30%);
    .header-bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .button-outline {
        color: #e5eff8;
        text-decoration: none;
        border: 1px solid #e5eff8;
        padding: 6px 10px 6px 8px;
        border-radius: 3px;
        min-width: 58px;
        text-align: center;
        display: flex;
        align-items: center;
      }
      h1 {
        font-size: 38px;
        font-family: "IBM Plex Serif";
        text-align: center;
      }
    }
  }
}
@media (max-width: 768px) {
  header {
    .active-company {
      font-size: 14px;
      gap: 4px;
      img {
        width: 16px;
      }
    }
    .total-jobs {
      padding: 20px 0;
      .header-bar {
        h1 {
          font-size: 16px;
          text-align: left;
          padding-left: 16px;
        }
      }
    }
  }

  .button-outline {
    font-size: 14px;
    min-width: auto;
  }
}
