.typewriter {
    position: absolute;
    pointer-events: none;
    color: #c3c3c3;
    opacity: 1;
    line-height: 36px;
    font-size: 14px;
    height: 36px;
    top: 0;
    padding: 0 16px;
}
@media (max-width: 768px) {
    .typewriter{
        span {
            bottom: 0;
            position: absolute;
            top: 0;
        }
    }
}